importing the pandas library to read my dataset

In [233]:
import pandas as pd

loading my dataset into the data variable

In [234]:
data = pd.read_csv('creditcard.csv')

exploring the data

In [235]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [236]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,...,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000,75893.000000
mean,36251.869039,-0.252642,-0.028555,0.678837,0.165668,-0.274720,0.097904,-0.113989,0.054702,0.002063,...,-0.028976,-0.105193,-0.038210,0.006997,0.135006,0.025226,0.002230,0.003047,97.389275,0.002424
std,14869.533148,1.875369,1.658836,1.400086,1.369697,1.385589,1.304768,1.251417,1.234291,1.150162,...,0.736020,0.636340,0.619841,0.596350,0.439937,0.498116,0.388602,0.325362,270.673050,0.049179
min,0.000000,-56.407510,-72.715728,-33.680984,-5.172595,-42.147898,-26.160506,-31.764946,-73.216718,-9.283925,...,-34.830382,-10.933144,-26.751119,-2.836627,-7.495741,-2.534330,-9.390980,-9.617915,0.000000,0.000000
25%,29920.000000,-1.014701,-0.595966,0.190129,-0.725192,-0.892589,-0.640553,-0.604696,-0.141475,-0.679076,...,-0.225037,-0.523903,-0.178494,-0.323996,-0.128619,-0.327421,-0.063068,-0.005726,7.680000,0.000000
50%,39178.000000,-0.246892,0.070357,0.766400,0.185226,-0.306978,-0.152992,-0.073844,0.068264,-0.081287,...,-0.059339,-0.079580,-0.050596,0.063623,0.173144,-0.073438,0.009345,0.022844,26.770000,0.000000
75%,47669.000000,1.153665,0.724243,1.398184,1.048152,0.262903,0.491376,0.418052,0.347422,0.641127,...,0.116953,0.309374,0.080167,0.404653,0.421942,0.306241,0.082411,0.075939,89.000000,0.000000
max,56293.000000,1.960497,18.902453,4.226108,16.715537,34.801666,22.529298,36.677268,20.007208,10.392889,...,22.614889,10.503090,17.297845,4.014444,5.525093,3.517346,12.152401,33.847808,19656.530000,1.000000

checking for empty slots

In [237]:
data.isnull().any().sum()

np.int64(0)

checking for duplicate data

In [238]:
data.duplicated().any()

np.True_

removing all duplicate data

In [239]:
data = data.drop_duplicates()

In [240]:
data.duplicated().any()

np.False_

importing module for normalizng data

In [241]:
from sklearn.preprocessing import StandardScaler

In [242]:
sc = StandardScaler()

normalizing in 'Amount' column

In [243]:
data['Amount'] = sc.fit_transform(pd.DataFrame(data['Amount']))

In [244]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.192043,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.349988,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.036980,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.095685,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.101716,0

In [245]:
data = data.drop(['Time'], axis= 1)

In [246]:
data['Class'].value_counts()

Class
0    75410
1      184
Name: count, dtype: int64

dividing dataset into class and features

In [247]:
x = data.drop(['Class'], axis= 1)
y = data['Class']

importing module for OVERSAMPLING technique due to data imbalance

In [248]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

resampling data

In [249]:
x_res,y_res = smote.fit_resample(x,y)

In [250]:
y_res.value_counts()

Class
0    75410
1    75410
Name: count, dtype: int64

splitting data into training and testing data

In [251]:
from sklearn.model_selection import train_test_split

In [252]:
x_train, x_test, y_train, y_test = train_test_split(x_res, y_res, test_size= 0.2, random_state= 22)

using and training the model for prediction

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [ ]:
lr = LogisticRegression

In [ ]:
lr.fit(x_train, y_train)
pred_lr = lr.predict(x_test)

checking accuracy of model

In [ ]:
print(classification_report(pred_lr, y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     15088
           1       1.00      1.00      1.00     15076

    accuracy                           1.00     30164
   macro avg       1.00      1.00      1.00     30164
weighted avg       1.00      1.00      1.00     30164

loading the model into a file

In [257]:
import joblib

In [ ]:
joblib.dump(lr, 'credit_card_model')

['credit_card_model']

In [259]:
import os
print(f"Model size: {os.path.getsize('credit_card_model') / 1024**2:.2f} MB")

Model size: 0.04 MB